@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 0vw;
  white-space: nowrap;
}

html {
  overflow-y: scroll;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: fot-matisse-pron, sans-serif;
  font-style: normal;
  *font: x-small;
  background: #fff;
  color: #3e3b3a;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo, Verdana, sans-serif", " 筑紫A丸ゴシック Std";
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  max-width: 1920px;
}
body a,
body a:visited,
body a:hover,
body a:active {
  color: inherit;
  text-decoration: none;
}
body h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
body h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
body h3 {
  font-family: ryo-display-plusn, serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header {
  width: 100vw;
  height: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-left {
  width: 20vw;
  height: 3vw;
}

.header-center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-center li {
  display: block;
}

.header-right {
  width: 30vw;
  height: 5vw;
  right: 0;
}

.header-left-2 {
  width: auto;
}

.info-main {
  width: 100vw;
  height: 10vw;
  color: blueviolet;
}

.container {
  width: 100%;
  height: 100%;
}
.container .about-main-vis {
  display: block;
  height: 500px;
}
.container .about-main-vis .main-vis-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 200px;
}
.container .about-main-vis .main-vis-wrapper .about-one-pen-vis {
  width: 100%;
  height: 453px;
  position: absolute;
  text-align: center;
  display: block;
}
.container .about-main-vis .main-vis-wrapper .about-one-pen-vis .main-vis-img {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.container .about-main-vis .main-vis-wrapper .about-one-pen-vis .main-vis-text {
  left: 13%;
  top: 60%;
  position: absolute;
}
.container .about-main-vis .main-vis-wrapper .share {
  width: 100%;
  height: 453px;
  position: absolute;
  float: right;
  display: block;
  left: 95%;
  top: 200px;
}
.container .about-main-vis .main-vis-wrapper .share img {
  width: auto;
  height: auto;
  position: absolute;
  display: block;
}
.container .about-main-vis .main-vis-wrapper .share .share-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: 454px;
  position: relative;
  width: 100%;
  z-index: 10;
  top: -7%;
}
.container .about-main-vis .main-vis-wrapper .share .share-icon .share-icon-twi {
  top: 20%;
  position: absolute;
}
.container .about-main-vis .main-vis-wrapper .share .share-icon .share-icon-fb {
  top: 25%;
  position: absolute;
}
.container .about-main-vis .one-pen-text-wrapper {
  width: 100%;
  height: 800px;
  text-align: center;
  position: relative;
  top: 200px;
}
.container .about-main-vis .one-pen-text-wrapper .about-one-pen-text {
  width: 50%;
  height: 100%;
  display: block;
  text-align: center;
}
.container .about-main-vis .one-pen-text-wrapper .about-one-pen-text img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .about-main-vis .one-pen-text-wrapper .about-one-pen-text .about-one-pen-text-box {
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 10;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.container .about-main-vis .one-pen-text-wrapper .about-one-pen-text .about-one-pen-back-img {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 9;
}
.container .about-concept {
  height: 100%;
  width: 100%;
  margin-top: 801px;
}
.container .about-concept .concept-img {
  width: 100%;
  height: 100%;
}
.container .about-concept .concept-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .wave-mark {
  top: 20%;
}
.container .wave-mark img {
  width: 100%;
  height: auto;
}
.container .about-company .company-content {
  text-align: center;
}
.container .about-company .company-content img {
  width: 50%;
  height: 100%;
  text-align: center;
  margin-top: 220px;
}
.container .about-contact-us-contents {
  width: 100%;
  height: auto;
  position: relative;
}
.container .about-contact-us-contents img {
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 100px;
}
.container .about-contact-us-contents .contact-text {
  width: auto;
  height: auto;
  z-index: 10;
}
.container .about-contact-us-contents .contact-button {
  width: auto;
  height: auto;
  z-index: 10;
}
.container .about-contact-us-contents .about-contact-pen {
  width: 50%;
  height: auto;
}
.container .sub-footer {
  width: 100%;
  height: auto;
}
.container .sub-footer img {
  width: 100%;
  height: auto;
  margin-top: 200px;
}

.container {
  width: 100%;
  height: 100%;
}

.w_main {
  width: 100vw;
  height: 50vh;
}
.w_main .h1 {
  color: #050037;
  color: blue;
}
/*# sourceMappingURL=index.css.map */