@mixin desktop {
    @media (max-width: 1000px) {
        @content;
    }
}

@mixin tab {
    @media (max-width: 794px) {
        @content;
    }
}
@mixin sp {
    @media (max-width: 500px) {
        @content;
    }

}

// ______________________________________________

@mixin dk {
    @media (max-width: 1500px) {
        @content;
    }
}

@mixin lp {
    @media (max-width: 1240px) {
        @content;
    }
}


@mixin ipd {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin id {
    @media (max-width: 850px) {
        @content;
    }
}


@mixin ph {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin phs {
    @media (max-width: 400px) {
        @content;
    }
}




$breakpoints: (
  'ph': 'screen and (max-width: 600px)',  //スマホ
  'tabl': 'screen and (max-width: 800px)', //タブレット
  'ipd': 'screen and (max-width: 1024px)', //ipad
  'lp': 'screen and (max-width: 1440px)', //laptop
) !default;

@mixin mq($breakpoint: --) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }

  //ブレイクポイントの種類を定義
$breakPoints: (
    ‘pc’: ‘1280px’,
    ‘tablet’: ‘768px’,
    ‘sp’: ‘480px’,
  );
  //メディアクエリを呼び出す記述
@mixin mq($breakPoint) {
    @media screen and (max-width: #{map-get($breakPoints, $breakPoint)}) {
      @content;
    }
  }

// 例  .foo {
//     color: blue;
//     @include mq() { // 引数を省略（初期値はmdの768px）
//       color: yellow;
//     }
//     @include mq(lg) { // 引数を個別に指定
//       color: red;
//     }
//   }