@use "../global";
@use "reset";
.container {
  width: 100%;
  height: 100%;

.about-main-vis {  // ________________container_________________
  display: block;
  height: 500px;
.main-vis-wrapper { // ________________section_________________
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  position: relative;
  margin-bottom: 200px;


.about-one-pen-vis {
  width: 100%;
  height: 453px;
  position: absolute;
  text-align: center;
  display: block;

  .main-vis-img {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

  }

  .main-vis-text {
    left: 13%;
    top: 60%;
    position:absolute;
  }
}


.share {
  width: 100%;
  height: 453px;
  position: absolute;
  float: right;
  display: block;
  left: 95%;
  top: 200px;

  img {
    width: auto;
  height: auto;
  position: absolute;
  display: block;

  }

.share-icon {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 454px;
  position: relative;
  width: 100%;
  z-index: 10;
  top: -7%;

    .share-icon-twi {
      top: 20%;
      position: absolute;
    }
    .share-icon-fb {
      top: 25%;
      position: absolute;
    }
  }
}
}


.one-pen-text-wrapper {
  width: 100%;
  height: 800px;
  text-align: center;
  position: relative;
  top: 200px;

  .about-one-pen-text {
    width: 50%;
    height: 100%;
    display: block;
    text-align: center;

    img {
      
      width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    }
    .about-one-pen-text-box {
      position: absolute;
      width: 50%;
      height: auto;
      z-index: 10;
      top: -50%;
      left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    }

    .about-one-pen-back-img {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 9;
    }

  }
 } 
}
 // ________________section_________________
.about-concept {
height: 100%;
width: 100%;
margin-top: 801px;

.concept-img {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  }
}
}
// ________________section_________________
.wave-mark {
  top: 20%;
}


.wave-mark img {
  width: 100%;
  height: auto;
}
// ________________section_________________
.about-company {
  .company-content {
    text-align: center;
    img {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: 220px;
  }
}
}
// ________________section_________________

.about-contact-us-contents {
  width: 100%;
  height: auto;
  position: relative;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 100px;

  }
  .contact-text {
    width: auto;
    height: auto;
    z-index: 10;
  }
  .contact-button {
    width: auto;
    height: auto;
    z-index: 10;
  }
  .about-contact-pen {
    width: 50%;
    height: auto;
  }


}

.sub-footer {

  width: 100%;
  height: auto;
  img {
    width: 100%;
  height: auto;
  margin-top: 200px;

  }
}


} // ________________container_________________
