@use "../global" as g;
@use "reset";


/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background:#E9F2FA;
    text-align:center;
    color:#fff;
  }
  
  /* Loading画像中央配置　*/
  #splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Loading アイコンの大きさ設定　*/
  #splash_logo img {
    width:260px;
  }
  
  /* fadeUpをするアイコンの動き */
  .fadeUp{
  animation-name: fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  


.container {
  width: 100%;
  height: auto;

.about-main-vis {  // ________________container_________________
  display: block;
  height: 70vw;
  @include g.ipd {
    height: 80vw;
  }
  @include g.id {
    height: 95vw;
  }
  @include g.ph {
    height: 1200px;
  }


.main-vis-wrapper { // ________________section_________________
  width: 100%;
  height: 35vw;
  text-align: center;
  display: flex;
  position: relative;

  @include g.ph {
    margin-bottom: 0px;
    height: 300px;
    
  }


.about-one-pen-vis {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  display: block;

  .main-vis-img {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 67.19%;
    @include g.ipd {
      width: 80%;
        }

        @include g.id {
          width: 550px;
            }

    @include g.ph {
      width: 332px;
        }
        @include g.ph {
          display: none;
          }
        

  }

  .main-vis-text {
    left: 7%;
    top: 14%;
    position:absolute;
    @include g.dk {
      left: 9%;
    }

@include g.ipd {
  left: 2%;
}

@include g.id {
  left: 2%;
  width: 33%;
}
@include g.ph {
display: none;
}

  }

  .sp-main-vis {
    display: none;
    @include g.ph {
      display: block;
      width: 100%;
    object-fit: cover;
    height: 350px;
    object-position: 57%;
  }
}
}


.share {
  width: 100%;
  height: 453px;
  position: absolute;
  float: right;
  display: block;
  left: 95%;
  top: 70px;

  img {
    width: auto;
  height: auto;
  position: absolute;
  display: block;

  }

.share-icon {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 454px;
  position: relative;
  width: 100%;
  z-index: 10;
  top: -7%;
  left: -4px;


    .share-icon-twi {
      top: 18%;
      position: absolute;
    }
    .share-icon-fb {
      top: 24%;
      position: absolute;
    }
  }
}
}


.one-pen-text-wrapper {
  width: 100%;
    height: 35vw;
    text-align: center;
    position: relative;
  @include g.ph {
    top: 100px;  
  }
  

  .about-one-pen-text {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    position: absolute;
    top: 20%;
    @include g.ipd {
      top: 37%;
    }
    @include g.ph {
      top: 40%;
      }
      

    img {
      
      width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    }
    .about-one-pen-text-box {
      position: absolute;
      width: auto;            
      height: auto;
      z-index: 10;
      left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    @include g.ph {
      width: auto;
    top: 0%;
    left: 50%;
    }
    p {
      font-size : clamp(12px,0.83vw,16px);
      color: #000000;
      font-family: 'TsukuARdGothic-Regular',sans-serif;
      writing-mode: vertical-rl;
      text-align: initial;
      font-weight: bold;
      margin: 0 auto;
      line-height: 24px;
      @include g.ph {
        writing-mode:inherit;
      }


      .one-pen-big-text {
        line-height: 31px;
        font-size : clamp(13px,1.04vw,20px);
        @include g.ph {
          position: relative;
          line-height: 31px;
          font-size: clamp(13px, 0.89vw, 17px);
          margin: 0 auto;
          text-align: center;
          left: 13%;
          transform: translateX(-50%);        }
      }
      .one-pen-big-height {
        line-height: 31px;
      }
    }

    }

    .about-one-pen-back-img {
      position: initial;   
      width: 100%;
      height: 220px;
      z-index: 9;

      img {
        width: 8.18%;
        height: auto;
        top: 50%;
        left: 31%;
        position: absolute;
        @include g.ph {
          width: 33%;
          height: auto;
          top: 90%;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
        }
 
      }

    }
    .fluid-big {
      position: absolute;
      left: -153.6px;
      width: 495px;
      height: 412px;
      background:#E9F2FA;/*背景色*/
      animation: fluidrotate 8s ease 0s infinite;/*アニメーションの設定*/
      overflow-x: hidden;
      z-index: 9;
      @include g.dk {
        width: 280px;    
      }

      @include g.ph {
       top: 0px;
       height: 212px;
       
      }
    }
    .fluid-small {
      position: absolute;
      top: 227px;
      right: -6%;
      width:20vh;/*横幅*/
      height: 10vh;/*縦幅*/
      background:#E9F2FA;/*背景色*/
      animation: fluidrotate 15s ease 0s infinite;/*アニメーションの設定*/
      overflow-x: hidden;
      z-index: 9;

      @include g.ph {
        height: 112px;
        top: 402px;
        right: -13%;
       }
    }

    .small-2 {
      top: 207px;
      right: -3%;
      @include g.ph {
        top: 400px;
        height: 112px;
        right: -22%;

       }
    }

    @keyframes fluidrotate {  
	  
      0%, 100% {
          border-radius: 62% 38% 16% 84% / 68% 54% 46% 32%;}
      10% {
          border-radius: 15% 85% 80% 20% / 68% 54% 46% 32%;}
      25% {
          border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;}
      39% {
          border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;}
      56% {
          border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;}
      76% {
          border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;}
      94% {
          border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;}
      }

  }
 } 
}
 // ________________section_________________
.about-concept {
  height: auto;
width: 100%;

@include g.dk {
}

@include g.ph {
  margin-top: -80px;
   }
   @include g.phs {
    margin-top: -120px;  
  }
}
.concept-img {
  width: 100%;
  height: 500px;
  background-color: #F0F0F0;
  text-align: center;
  z-index: 10;
  position: relative;
  @include g.tab {
    height: 400px;

  }
  @include g.ph {
    height: 500px;
  }


  img {
    width: 8.75%;
  height: auto;
  object-fit: cover;
  text-align: center;
  margin-bottom: 40px;
  margin-top: -4vw;

  @include g.ipd {
    width: 12%;
  }
  @include g.tab {
    width: 12%;
    margin-bottom: 0px;

  }

  @include g.ph {
  width: 100px;
  }
  
}
.po-re {
  position: relative;
}
.slash-img {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin-top: 0px;
}
  p{
    font-size : clamp(12px,0.83vw,16px);
    line-height : 25px;
    color : #152041;
    font-weight: bold;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    
}

}
// ________________section_________________
.wave-mark {
  
  margin-top: 20px;

  @include g.ph {
    margin-top: -20px;
  }
}


.wave-mark img {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
// ________________section_________________
.about-company {
  margin-top: 3.98vw;
  text-align: center;

  .about-company-title {
    width: auto;
    margin-bottom: 4.77vw;
    margin-left: auto;
    margin-right: auto;

    @include g.ph {
      width: 60%;
      margin-bottom: 30vw;
    }
    img {
      width: auto;
      margin: 0 auto;
      @include g.ph {
      width: 100%;
      }

    }
  }
  .company-content {
    text-align: center;  
    @include g.ph {
      margin-bottom: 130px;
      
    }

    img {
      width: auto;

      @include g.id {
      width: 100%;
     }
     @include g.ph {
      transform: scale(1.6);
    }
    }
  }
}

//   .about-company-title {
//     text-align: center;
//     width: auto;
//     height: auto;
//   }
//   .company-info-wrapper {
//     position: relative;
//     text-align: center;
//     img {
//       width: 50%;
//       height: 100%;
//       text-align: center;
//       margin-top: 20px;
//       z-index: 1;
//     }
  
//   p {
//     font-size : clamp(10px,0.63vw,14px);
//     line-height : 22.34px;
//     letter-spacing : 0.9px;
//     color : #152041;
//     font-family: 'TsukuARdGothic-Regular',sans-serif;
//     font-weight: bold;
//     font-style: oblique;
//     z-index: 2;
//     top: 15%;
//     left: 50%;
//   transform: translateY(-50%) translateX(-50%);
//   }
// }
// .company-info {
//   position: absolute;
//   top: 22%;
//   left: 50%;
//   transform:translateX(-50%);
//   ul {
//     li  {
//       width: 28.75vw;
//       display: flex;
//       position: initial;
//       z-index: 2;
//       p {
//         font-size : clamp(10px,0.63vw,14px);
//         line-height : 22.34px;
//         letter-spacing : 0.9px;
//         color : #152041;
//         font-family: 'TsukuARdGothic-Regular',sans-serif;
//         font-weight: bold;
//         .content-name {
//         width: 7.27vw;
//         height: auto;
//         position: inherit;

//       }
//       .contact-us {
//         position: inherit;
      
//     }
//   }
//     .border {
//       width: 28.75vw;
//       border: solid 1px #00114C;
//     }
//    }
//   }
//  }

// ________________section_________________

.about-contact-us-contents {
  width: 100%;
  height: auto;
  position: relative;
  @include g.ph {
    height: 100px;
  }

  img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 100px;
    @include g.ph {
      margin-top: 100px;
    }

  }
  .contact-text {
    width: auto;
    height: auto;
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 10%;
    @include g.lp {
      top: 65px;
    }
    @include g.id {
      top: 40px;
      width: 17%;
    }
    @include g.ph {
      top: 22px;
      
     }

  }
  .contact-button {
    width: auto;
    height: auto;
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 30%;
    @include g.dk {
      top: 55px;
      width: 25%;
      left: 50%;
    transform: translateX(-50%);
    }
    @include g.id {
      top: 40px;

    }
    @include g.ph {
      top: 13px;
      width: 40%;
      left: 50%;
    transform: translateX(-50%);
     }
  }
  .about-contact-pen {
    width: 50%;
    height: auto;
    z-index: 9;
    @include g.dk {
      width: 90%;
    }

    @include g.ipd {
      width: 75%;
    }
    @include g.ipd {
      width: 92%;
    }

  }


}

.about-contact-us {

.w_contact {
  @include g.ph {
height: auto;
margin-top: 150px;
  }

.w_contact_text {
  @include g.ph {
  margin-top: 1vw;
}
}

.contact_btn {
  top: 40%;
  .w_c {
    @include g.ph {
    margin-top: 60px;
    width: 150px;

  }
}

}

}
}


.sub-footer {

  width: 100%;
  height: auto;
  img {
    width: 100%;
  height: auto;

  @include g.ph {
    margin-top: 0px;
  }
  }
}


} // ________________container_________________



 // ________________responsive_________________


