@use "../global";
@use "reset";
.container {
  width: 100%;
  height: 100%;

.about-main-vis {  // ________________container_________________
  display: block;
  height: 500px;
.main-vis-wrapper { // ________________section_________________
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  position: relative;
  margin-bottom: 200px;


.about-one-pen-vis {
  width: 100%;
  height: 453px;
  position: absolute;
  text-align: center;
  display: block;

  .main-vis-img {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

  }

  .main-vis-text {
    left: 18%;
    top: 25%;
    position:absolute;
  }
}


.share {
  width: 100%;
  height: 453px;
  position: absolute;
  float: right;
  display: block;
  left: 95%;
  top: 70px;

  img {
    width: auto;
  height: auto;
  position: absolute;
  display: block;

  }

.share-icon {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 454px;
  position: relative;
  width: 100%;
  z-index: 10;
  top: -7%;
  left: -4px;


    .share-icon-twi {
      top: 18%;
      position: absolute;
    }
    .share-icon-fb {
      top: 24%;
      position: absolute;
    }
  }
}
}


.one-pen-text-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  top: 200px;

  .about-one-pen-text {
    width: 50%;
    height: 100%;
    display: block;
    text-align: center;

    img {
      
      width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    }
    .about-one-pen-text-box {
      position: absolute;
      width: 28.6%;
      height: auto;
      z-index: 10;
      top: -79.7%;
      left: 48.7%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    }

    .about-one-pen-back-img {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 9;
    }
    .fluid-big {
      position: absolute;
      top: -415px;
      left: -8%;
      width:30vh;/*横幅*/
      height: 30vh;/*縦幅*/
      background:#E9F2FA;/*背景色*/
      animation: fluidrotate 8s ease 0s infinite;/*アニメーションの設定*/
      overflow-x: hidden;

    }
    .fluid-small {
      position: absolute;
      top: -227px;
      right: -6%;
      width:20vh;/*横幅*/
      height: 10vh;/*縦幅*/
      background:#E9F2FA;/*背景色*/
      animation: fluidrotate 15s ease 0s infinite;/*アニメーションの設定*/
      overflow-x: hidden;
    }

    .small-2 {
      top: -207px;
      right: -3%;
    }
    @keyframes fluidrotate {  
	  
      0%, 100% {
          border-radius: 62% 38% 16% 84% / 68% 54% 46% 32%;}
      10% {
          border-radius: 15% 85% 80% 20% / 68% 54% 46% 32%;}
      25% {
          border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;}
      39% {
          border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;}
      56% {
          border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;}
      76% {
          border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;}
      94% {
          border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;}
      }

  }
 } 
}
 // ________________section_________________
.about-concept {
height: auto;
width: 100%;
margin-top: 22.4%;

.concept-img {
  width: 100%;
  height: 100%;
  background-color: aqua;
  text-align: center;


  img {
    width: 17%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  margin-bottom: 40px;
  margin-top: -53px;

  }
}
}
// ________________section_________________
.wave-mark {
  
  margin-top: 20px;
}


.wave-mark img {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
// ________________section_________________
.about-company {
  .company-content {
    text-align: center;
    img {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
}
// ________________section_________________

.about-contact-us-contents {
  width: 100%;
  height: auto;
  position: relative;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 100px;

  }
  .contact-text {
    width: auto;
    height: auto;
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 10%;

  }
  .contact-button {
    width: auto;
    height: auto;
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 30%;
  }
  .about-contact-pen {
    width: 50%;
    height: auto;
    z-index: 9;
  }


}

.sub-footer {

  width: 100%;
  height: auto;
  img {
    width: 100%;
  height: auto;
  margin-top: 200px;

  }
}


} // ________________container_________________
