@use "../global";
@use "reset";
.container {
  width: 100%;
  height: 100%;

.about-main-vis {  // ________________container_________________
  display: block;
  height: 500px;
.main-vis-wrapper { // ________________section_________________
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  position: relative;
  margin-bottom: 20px;


.about-one-pen-vis {
  width: 100%;
  height: 453px;
  position: absolute;
  text-align: center;
  display: block;
}


.share {
  width: 100%;
  height: 453px;
  position: absolute;
  float: right;
  display: block;
  right: 50%;

  img {
    width: auto;
  height: auto;
  position: absolute;
  float: right;
  display: block;
  right: 10%;
  }

.share-icon {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 10;

  img {
    position: absolute;
  }
}
}
}

  .about-one-pen-text {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;

    img {
      
      width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    }
  }

 } // ________________section_________________
.about-concept {
height: 100%;
width: 100%;
margin-top: 801px;

.concept-img {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  }
}
}
// ________________section_________________

.wave-mark img {
  width: 100%;
  height: auto;
}
// ________________section_________________
.about-company {
  .company-content {
    text-align: center;
    img {
    width: 50%;
    height: 100%;
    text-align: center;
  }
}
}
// ________________section_________________

.about-contact-us-contents {
  width: 100%;
  height: auto;
  position: relative;

  img {
    width: 100%;
    height: auto;
    position: absolute;
  }
  .contact-text {
    width: auto;
    height: auto;
    z-index: 10;
  }
  .contact-button {
    width: auto;
    height: auto;
    z-index: 10;
  }


}


} // ________________container_________________
