* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 0vw;
  white-space: nowrap;
}

html {
  overflow-y: scroll;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: fot-matisse-pron, sans-serif;
  font-style: normal;
  *font: x-small;
  background: #fff;
  color: #3e3b3a;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo, Verdana, sans-serif", " 筑紫A丸ゴシック Std";
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  // max-width: 1920px;

  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
    text-decoration: none;
  }
  h1 {
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-family: ryo-display-plusn, serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}
