@use "../global" as g;
@use "reset";
.container {
  width: 100%;
  height: auto;
}
.sp-br {
  display: none;
  @include g.sp {
  display: inline;
  }
}
.w_main {
  width: 100%;
  height: auto;
  @include g.ph {
    height: auto;
  }

  .w_main_b {
    background-color: #f0f0f0;
    padding-bottom: 46px;
    @include g.ph {
      padding-bottom: 50px;
    }


  .w_main_top {
    background-color: #f0f0f0;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    max-width: 1280px;
    margin: auto;
    @include g.lp {
      width: 85%;
    }

    .penguin {
      position: absolute;
      bottom: -144px;
      left: 146px;
      height: auto;
      width: 214px;
      object-fit: contain;
      @include g.lp {
        width: 150px;
        bottom: -100px;
      }
      @include g.ipd {
        left: 60px;
        left: 0px;

      }
      @include g.tab{
        bottom: 0px;
        left: 60px;
      }
      @include g.ph {
        bottom: 0px;
        left: 30px;
        width: 120px;
      }
      @include g.sp {
        left: auto;
    }
  }
    .right {
      width: 432px;
      height: auto;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 40px;
      margin-left: 130px;
      @include g.lp {
        margin-left: 50px;
      }
      @include g.ipd {
        width: 35vw;
      }
      @include g.tab {
        display: none;
      }

      @include g.sp {
        display: none;
      }
    }
  }
}

  h1 {
    font-size: 30px;
    color: #050037;
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 250px;
    line-height: 48px;
    letter-spacing: 0.1vw;
    font-feature-settings: "palt";
    @include g.lp {
      margin-left: 150px;
    }

    @include g.ipd {
      font-size: 19px;
    }
    @include g.tab {
      margin-left: 45vw;
    }
    @include g.ph {
      font-size: 14px;
      margin-left: 40vw;
    }
  }
  .w_main_under {
    text-align: center;
    position: relative;
    height: auto;
    width: 100%;
    @include g.sp {
      height: auto;
    }
    .policy {
      width: 350px;
      height: auto;
      object-fit: contain;
      margin-top: 65px;
      margin-bottom: 45px;
      @include g.sp {
        width: 44vw;
        height: 30vw;
      }
    }
    h2 {
      font-size: 20px;
      color: #050037;
      font-family: 'TsukuARdGothic-Regular',sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 2.7vw;
      font-feature-settings: "palt";
      margin-bottom: 70px;

      @include g.tab {
      }
      @include g.sp {
        font-size: 2vw;
        line-height: 5.5vw;
      }
    }
    .right_back {
      position: absolute;
      right: -5%;
      top: 50%;
      width: 14vw;
      height: 14vw;

      object-fit: contain;
    }
  }
  .nami {
    width: 100%;
    height: 10vw;
    object-fit: contain;
    @include g.sp {
    height: 60px;
    }
  }
}
.w_works {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 200px;
  
  @include g.lp {
    height: 100vh;
  }
  @include g.desktop {
    height: 1000px;
  }
  @include g.tab {
    height: auto;
    margin-bottom: 150px;

  }
  @include g.sp {
    height: auto;
  }

  .back {
    position: absolute;
    left: -1%;
    z-index: -2;
  }
  .w_works_title {
    text-align: center;
    margin-top: 44px;
    margin-bottom: 30px;

    .title {
      width: 140px;
      height:auto;
      object-fit: contain;
      @include g.tab {
        width: 17vw;
        height: 20vw;
      }
      @include g.sp {
        width: 130px;
        height: 100px;
      }
    }
  }

  .ex_wrapper {
    display: flex;
    width: 68vw;
    height: 52vw;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 875px;
    @include g.tab {
      height: auto;
      width: 82vw;
    }
    @include g.ph {
      height: auto;
      width: 100%;
    }

    /* 横並びに表示する */
    flex-wrap: wrap;
    .img {
      margin: 0 auto;
      display: block;
      width: 20vw;
      height: 18vw;
      object-fit: contain;
    }
    .w_works_ex {
      text-align: center;
      width: 33%;
      font-size: 0.6vw;
      margin-bottom: 92px;
      @include g.tab {
        width: 50%;
      }
      @include g.tab {
        height: auto;
      }
      @include g.sp {
        height: auto;      
      }
      img {
        width: 200px;
        height: 258px;
        object-fit: contain;
        max-width: 280px;
        @include g.tab {
          height: 25vw;
          width: 25vw;
        }
        @include g.sp {
          width: 35vw;
          height:auto;
        }

      }
      .ex_text {
        font-family: 'TsukuARdGothic-Regular',sans-serif;
        color: #000000;
      }


      .ex_url {
        font-weight: bold;
        color: #00114C;
        font-family: 'TsukuARdGothic-Regular',sans-serif;
        font-size: clamp(10px,0.73vw,14px);
        @include g.iphse {
          margin-left: -7px;
          font-weight: normal;
        }

      }
    }
  }
  .more_btn {
    text-align: center;
    position: relative;
    .w_btn {
      position: absolute;
      left: 50%;
      top: 80px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      width: 13.5vw;
      height: 3.5vw;
      border-radius: 100vh;
      background-color: white;
      border: 3px solid #00114c;
      color: #050037;
      font-weight: bold;
      font-size : clamp(10px,0.63vw,12px);
      letter-spacing : 0.9px;
      color : #000000;
    
      @include g.ipd {
        border: 2px solid #00114c;
      }
      @include g.tab {
        width: 20vw;
        height: 6vw;
        font-size: 12px;
      }
      @include g.sp {
        width: 30vw;
        height: 8vw;
        
      }
    }
  }
  .right_back {
    position: absolute;
    right: -5%;
    width: 15vw;
    height: 15vw;
    object-fit: contain;
  }
  .w_p {
    position: absolute;
    left: 25%;
    width: 16vw;
    height: 16vw;
    object-fit: contain;
    margin-top: 300px;

    @include g.lp {
      margin-top: 400px;
    }

    @include g.tab {
    left: 5%;
    width: 50vw;
    margin-top: 0px;
    }
    @include g.ph {
      left: -4%;
    width: 150px;
    height: 100px;
    margin-top: 0px;
    }

  }
}

.w_price {
  width: 100%;
  height: 80vw;
  z-index: 1;
  position: relative;
  @include g.tab {
    height: 900px;
  }
  @include g.ph {
    height: auto;
  }
  @include g.sp {
    height: auto;
  }
  @include g.phs {
    height:auto;
  }

  .w_price_title {
    text-align: center;
    width: 100%;
    height: 33vw;
    background-color: #f0f0f0;
    @include g.ph {
      height: auto;
      margin-bottom: 0px;
    }
    @include g.sp {
      height: auto;
      margin-bottom: 0px;

    }
    img {
      width: 10vw;
      height: 10vw;
      object-fit: contain;
      margin-top: 2vw;
      @include g.tab {
        width: 17vw;
        height: 20vw;
      }
      @include g.sp {
        width: 22vw;
        height: 20vw;
      }
    }
  }
  .w_price_wrapper {
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 50vw;
    padding: 1%;
    padding-top: 2%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    p {
      font-family: 'TsukuARdGothic-Regular',sans-serif;
      font-size : clamp(10px,0.63vw,12px);
      line-height : 21.44px;
      color : #000000;
    
    }
    @include g.tab {
      top: 18%;
      width: 88%;
    }
    @include g.ph {
      position: relative;
    }
    .box {
      width: 31%;
      height: 50vw;
    }
    .plan {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .back {
    position: absolute;
    left: 0;
    top: 50%;
    @include g.sp {
    display: none;
    }
  }
  .w_contact_wrapper {
    width: 100%;
    height: 53vw;
    position: relative;
    @include g.tab {
      height: auto;
    }

    .pcs {
      position: absolute;
      right: 10%;
      bottom: 0;
      width: 36vw;
      height: 22vw;
      object-fit: contain;
      @include g.tab {
        bottom: -28vh;
      }
      @include g.ph {
        display: none;
      }
    }
  }
}

.w_contact {
  display: flex;
  position: relative;
  z-index: 10;
  color: #050037;
  font-family: 'TsukuARdGothic-Regular',sans-serif;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  height: auto;
  @include g.ph {
  margin-top: 250px;
  }
  @include g.sp {
    margin-top: 240px;
  }

  .w_contact_text {
    width: 58%;
    margin: 0 auto;
    margin-top: 13.5vw;
    @include g.ipd {
      width: 83%;
    }
    @include g.ph {
      margin-top: -44px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: auto;
      }
      }
  .w_title {
    font-size : clamp(12px,1.5vw,18px);
    margin: 0.4vw 0;
    @include g.ph {
      font-size: 17px;
    }
  }
  .w_sub_title {
    font-size : clamp(12px,1vw,18px);
    margin: 0.4vw 0;
    font-weight: normal;
    @include g.ph {
      font-size: 12px;
    }
  }
  .w_long {
    position: absolute;
    z-index: -1;
    width: 82vw;
    height: 33vw;
    @include g.sp {
      top: -58%;
    }
  }
  .long {
    position: absolute;
    width: 84vw;
    height: 33vw;
    object-fit: contain;
    left: -2%;
    z-index: -2;
    @include g.ph {
      object-fit: contain;
    left: -42%;
    z-index: -2;
    transform: scale(2.3);
    }
  }
  .contact_btn {
    position: absolute;
    width: 16vw;
    height: 3vw;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    @include g.tab {
      width: 20vw;
      height: 5.3vw;
    }
    @include g.sp {
      top: -20%;
      width: auto;
      height: auto;
    }
    .w_c {
      width: 16vw;
      height: 3.3vw;
      border-radius: 1vh;
      background-color: white;
      border: 3px solid #00114c;
      color: #050037;
      font-weight: bold;
      margin-top: 9vw;
      margin-left: 0vw;
      @include g.ipd {
        border: 2px solid #00114c;
        width: 200px;
        height: 40px;
      }
      @include g.tab {
        width: 200px;
        height: 40px;
      }
      @include g.ph {
        width: 33vw;
        height: 31px;
        font-size: 11px;
        border: 1px solid #00114c;
        left: 50%;
    transform: translateX(-50%);
    position: absolute;
      }
    }
    .alow {
      position: relative;
      right: -3vw;
      @include g.tab {
        display: none;
      }
      @include g.sp {
      }
    }
  }
}
