@use "../global" as g;
@use "reset";
.container {
  width: 100%;
  height: 100%;
}
.w_main {
  width: 100%;
  height: 66vw;
  .w_main_top {
    background-color: #f0f0f0;
    width: 100%;
    height: 26vw;
    display: flex;
    position: relative;
    @include g.tab {
      background-color: red;
    }
    @include g.sp {
      color: green;
      font-size: 10px;
      background-color: bisque;
    }
    .penguin {
      position: absolute;
      bottom: -30%;
      left: 5%;
      height: 17vw;
      width: 29vw;
      object-fit: contain;
    }
    .right {
      width: 35vw;
      height: 20vw;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 3vw;
    }
  }

  h1 {
    font-size: 2vw;
    color: #050037;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 4vw;
    margin-left: 20vw;
    line-height: 4vw;
    letter-spacing: 0.2vw;
  }
  .w_main_under {
    text-align: center;
    position: relative;
    height: 28.5vw;
    width: 100%;
    .policy {
      width: 30vw;
      height: 20vw;
      object-fit: contain;
      margin-top: -2%;
    }
    h2 {
      margin-top: -3%;
      font-size: 1.35vw;
      color: #050037;
      font-family: fot-tsukuardgothic-std, sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 2.7vw;
    }
    .right_back {
      position: absolute;
      right: -5%;
      top: 50%;
      width: 14vw;
      height: 14vw;

      object-fit: contain;
    }
  }
  .nami {
    width: 100%;
    height: 10vw;
    object-fit: contain;
  }
}
.w_works {
  width: 100%;
  height: 89vw;
  position: relative;
<<<<<<< Updated upstream
=======
  @include g.tab {
    height: 108vh;
  }

  @include g.tab {
    height: 1200px;
  }
  @include g.ph {
    height: 1200px;
  }
  @include g.sp {
    height: 1100px;
  }

  .fluid-big {
    position: absolute;
    left: -153.6px;
    width: 495px;
    height: 412px;
    background:#E9F2FA;/*背景色*/
    animation: fluidrotate 8s ease 0s infinite;/*アニメーションの設定*/
    overflow-x: hidden;
    z-index: -1;
    @include g.dk {
      width: 280px;    
    }

    @include g.ph {
     top: 0px;
     height: 212px;
     
    }
  }
  .fluid-small {
    position: absolute;
    top: 65vw;
    right: -6%;
    width:23vh;/*横幅*/
    height: 13vh;/*縦幅*/
    background:#E9F2FA;/*背景色*/
    animation: fluidrotate 15s ease 0s infinite;/*アニメーションの設定*/
    overflow-x: hidden;
    z-index:-1;
>>>>>>> Stashed changes

    @include g.ph {
      height: 112px;
      right: -13%;
     }
  }
  .back {
    position: absolute;
    left: -1%;
  }
  .w_works_title {
    text-align: center;
    .title {
      width: 11vw;
      height: 11vw;
      object-fit: contain;
    }
  }

  .ex_wrapper {
    display: flex;
    width: 68vw;
    height: 52vw;
    margin: 0 auto;
    justify-content: space-around;
<<<<<<< Updated upstream
=======
    @include g.tab {
      height: 900px;
      width: 82vw;
    }
    @include g.sp {
      height: 820px;
      width: 100%;
    }
>>>>>>> Stashed changes

    /* 横並びに表示する */
    flex-wrap: wrap;
    .img {
      margin: 0 auto;
      display: block;
      width: 20vw;
      height: 18vw;
      object-fit: contain;
    }
    .w_works_ex {
      text-align: center;
      width: 33%;
      height: 18vw;
      font-size: 0.6vw;
      img {
        width: 15vw;
        height: 15vw;
        object-fit: contain;
      }
      .ex_url {
        font-weight: bold;
      }
    }
  }
  .more_btn {
<<<<<<< Updated upstream
    text-align: center;
=======
    // text-align: center;
    // position: relative;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
    .btn-11 {
      position: relative;
      color: #29adbc;
    }
    .btn-11:before, .btn-11:after {
      position: absolute;
      top: 50%;
      content: "";
      width: 20px;
      height: 20px;
      background-color: #039eb0;
      border-radius: 50%;
    }
    .btn-11:before {
      left: -20px;
      transform: translate(-50%, -50%);
    }
    .btn-11:after {
      right: -20px;
      transform: translate(50%, -50%);
    }
    .btn-11:hover {
      color: #c0e7eb;
    }
    .btn-11:hover:before {
      -webkit-animation: criss-cross-left 0.8s both;
              animation: criss-cross-left 0.8s both;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
    }
    .btn-11:hover:after {
      -webkit-animation: criss-cross-right 0.8s both;
              animation: criss-cross-right 0.8s both;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
    }

>>>>>>> Stashed changes
    .w_btn {
      width: 12vw;
      height: 3vw;
      border-radius: 100vh;
      background-color: white;
      border: 3px solid #00114c;
      color: #050037;
      font-weight: bold;
<<<<<<< Updated upstream
=======
      font-size : clamp(10px,0.83vw,16px);
      letter-spacing : 0.9px;
      color : #000000;
    
      @include g.ipd {
        border: 2px solid #00114c;
      }
      @include g.tab {
        width: 20vw;
        height: 6vw;
        font-size: 12px;
      }
      @include g.sp {
        width: 30vw;
        height: 8vw;
        
      }
>>>>>>> Stashed changes
    }
  }
  .right_back {
    position: absolute;
    right: -5%;
    width: 15vw;
    height: 15vw;
    object-fit: contain;
  }
  .w_p {
    position: absolute;
    left: 25%;
    width: 16vw;
    height: 16vw;
    object-fit: contain;
  }
}

.w_price {
  width: 100%;
  height: 80vw;
  z-index: 1;
  position: relative;
<<<<<<< Updated upstream
=======
  @include g.tab {
    height: 900px;
  }
  @include g.ph {
    height: 80vh;
  }
  @include g.sp {
    height: 83vh;
  }
  @include g.phs {
    height:70vh;
  }

>>>>>>> Stashed changes
  .w_price_title {
    text-align: center;
    width: 100%;
    height: 33vw;
    background-color: #f0f0f0;
    img {
      width: 10vw;
      height: 10vw;
      object-fit: contain;
      margin-top: 2vw;
    }
  }
  .w_price_wrapper {
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 50vw;
    padding: 1%;
    padding-top: 2%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
<<<<<<< Updated upstream

=======
    p {
      font-family: 'TsukuARdGothic-Regular',sans-serif;
      font-size : clamp(10px,0.63vw,12px);
      line-height : 21.44px;
      color : #000000;
    
    }
    @include g.tab {
      top: 18%;
      width: 88%;
    }
    @include g.sp {
      top: 20%;
    }
>>>>>>> Stashed changes
    .box {
      width: 31%;
      height: 50vw;
    }
    .plan {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .back {
    position: absolute;
    left: 0;
    top: 50%;
  }
  .w_contact_wrapper {
    width: 100%;
    height: 53vw;
    position: relative;
    .pcs {
      position: absolute;
      right: 10%;
      bottom: 0;
      width: 36vw;
      height: 22vw;
      object-fit: contain;
    }
  }
}

.w_contact {
  display: flex;
  position: relative;
  z-index: 10;
  color: #050037;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  height: 25vw;
  .w_contact_text {
    width: 58%;
    margin: 0 auto;
    margin-top: 13.5vw;
  }
  .w_title {
    font-size: 1.5vw;
    margin: 0.4vw 0;
  }
  .w_sub_title {
    font-size: 1vw;
    margin: 0.4vw 0;
  }
  .w_long {
    position: absolute;
    z-index: -1;
    width: 82vw;
    height: 33vw;
  }
  .long {
    position: absolute;
    width: 84vw;
    height: 33vw;
    object-fit: contain;
    left: -2%;
  }
  .contact_btn {
    position: absolute;
    width: 16vw;
    height: 3vw;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
<<<<<<< Updated upstream
=======
    @include g.tab {
      width: 20vw;
      height: 5.3vw;
    }
    @include g.sp {
      top: -20%;
      width: auto;
      height: auto;
    }
    
    button.w_c:hover {
      background-color: #00114c;
      color: white;
      transition: background-color 0.5s;

    }
  

>>>>>>> Stashed changes
    .w_c {
      width: 16vw;
      height: 3.3vw;
      border-radius: 1vh;
      background-color: white;
      border: 3px solid #00114c;
      color: #050037;
      font-weight: bold;
      margin-top: 7vw;
      margin-left: 0vw;
<<<<<<< Updated upstream
=======
      
      
      @include g.ipd {
        border: 2px solid #00114c;
        width: 18vw;
      }
      @include g.tab {
        width: 20vw;
        height: 5.3vw;
      }
      @include g.sp {
        width: 33vw;
        height: 31px;
        font-size: 11px;
        border: 1px solid #00114c;
        left: 50%;
    transform: translateX(-50%);
    position: absolute;
      }
>>>>>>> Stashed changes
    }
    .alow {
      position: relative;
      right: -3vw;
    }
  }
}
