@use "../global";
@use "reset";
.container {
  width: 100%;
  height: 100%;
}
.w_main {
  width: 100%;
  height: 75vw;
  .w_main_top {
    background-color: #f0f0f0;
    width: 100%;
    height: 30vw;
    display: flex;
    position: relative;

    .penguin {
      position: absolute;
      bottom: -30%;
      left: 5%;
      // margin-top: -10vw;
      // margin-left: 5vw;
      height: 20vw;
      width: 18vw;
      object-fit: contain;
    }
    .right {
      width: 35vw;
      height: 20vw;
      object-fit: contain;
      margin: 0 auto;
    }
  }

  h1 {
    font-size: 2vw;
    color: #050037;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 4vw;
    margin-left: 9vw;
  }
  .w_main_under {
    text-align: center;
    position: relative;
    height: 33vw;
    width: 100%;
    .policy {
      width: 30vw;
      height: 20vw;
      object-fit: contain;
    }
    h2 {
      margin-top: 3vw;
      color: #050037;
      font-family: fot-tsukuardgothic-std, sans-serif;
      font-style: normal;
      font-weight: 700;
    }
    .back {
      position: absolute;
      right: 0;
      top: 50%;
    }
  }
  .nami {
    width: 100%;
    height: 10vw;
    object-fit: contain;
  }
}
.w_works {
  width: 100%;
  height: 100vw;
  position: relative;

  .back {
    position: absolute;
    left: -1%;
  }
  .w_works_title {
    text-align: center;
    .title {
      width: 13vw;
      height: 13vw;
      object-fit: contain;
    }
  }

  .ex_wrapper {
    display: flex;
    width: 60vw;
    height: 30vw;
    margin: 0 auto;
    justify-content: space-around;

    /* 横並びに表示する */
    flex-wrap: wrap;
    .img {
      margin: 0 auto;
      display: block;
      width: 20vw;
      height: 18vw;
      object-fit: contain;
    }
    .w_works_ex {
      text-align: center;
      width: 30%;
      height: 10vw;
    }
  }
}
