@use "../global" as g;
@use "reset";
.container {
  width: 100%;
  height: 100%;
}
.w_main {
  width: 100%;
  height: 66vw;
  @include g.sp {
    height: 42vh;
  }
  .w_main_top {
    background-color: #f0f0f0;
    width: 100%;
    height: 26vw;
    display: flex;
    position: relative;
    .penguin {
      position: absolute;
      bottom: -30%;
      left: 5%;
      height: 17vw;
      width: 29vw;
      object-fit: contain;
    }
    .right {
      width: 35vw;
      height: 20vw;
      object-fit: contain;
      margin: 0 auto;
      margin-top: 3vw;

      @include g.sp {
        display: none;
      }
    }
  }

  h1 {
    font-size: 2vw;
    color: #050037;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 4vw;
    margin-left: 20vw;
    line-height: 4vw;
    letter-spacing: 0.2vw;
    @include g.tab {
    }
    @include g.sp {
      font-size: 3.5vw;
      margin-top: 6vw;
      margin-left: 33vw;
      line-height: 5vw;
    }
  }
  .w_main_under {
    text-align: center;
    position: relative;
    height: 28.5vw;
    width: 100%;
    @include g.sp {
      height: 23vh;
    }
    .policy {
      width: 30vw;
      height: 20vw;
      object-fit: contain;
      margin-top: -2%;
      @include g.sp {
        width: 44vw;
        height: 30vw;
      }
    }
    h2 {
      margin-top: -3%;
      font-size: 1.35vw;
      color: #050037;
      font-family: fot-tsukuardgothic-std, sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 2.7vw;
      @include g.tab {
      }
      @include g.sp {
        font-size: 2vw;
        line-height: 5.5vw;
      }
    }
    .right_back {
      position: absolute;
      right: -5%;
      top: 50%;
      width: 14vw;
      height: 14vw;

      object-fit: contain;
    }
  }
  .nami {
    width: 100%;
    height: 10vw;
    object-fit: contain;
  }
}
.w_works {
  width: 100%;
  height: 89vw;
  position: relative;
  @include g.tab {
    height: 108vh;
  }
  @include g.sp {
    height: 90vh;
  }

  .back {
    position: absolute;
    left: -1%;
    z-index: -2;
  }
  .w_works_title {
    text-align: center;
    .title {
      width: 11vw;
      height: 11vw;
      object-fit: contain;
      @include g.tab {
        width: 17vw;
        height: 20vw;
      }
      @include g.sp {
        width: 22vw;
        height: 20vw;
      }
    }
  }

  .ex_wrapper {
    display: flex;
    width: 68vw;
    height: 52vw;
    margin: 0 auto;
    justify-content: space-around;
    @include g.tab {
      height: 75vh;
      width: 82vw;
    }
    @include g.sp {
      height: 59vh;
      width: 100%;
    }

    /* 横並びに表示する */
    flex-wrap: wrap;
    .img {
      margin: 0 auto;
      display: block;
      width: 20vw;
      height: 18vw;
      object-fit: contain;
    }
    .w_works_ex {
      text-align: center;
      width: 33%;
      height: 18vw;
      font-size: 0.6vw;
      @include g.tab {
        width: 50%;
      }
      @include g.sp {
        // width: 100%;
      }
      img {
        width: 15vw;
        height: 15vw;
        object-fit: contain;
        @include g.tab {
          height: 25vw;
          width: 25vw;
        }
      }
      .ex_url {
        font-weight: bold;
      }
    }
  }
  .more_btn {
    text-align: center;
    .w_btn {
      width: 12vw;
      height: 3vw;
      border-radius: 100vh;
      background-color: white;
      border: 3px solid #00114c;
      color: #050037;
      font-weight: bold;
      @include g.tab {
        width: 16vw;
        height: 5vw;
      }
      @include g.sp {
        width: 30vw;
        height: 8vw;
      }
    }
  }
  .right_back {
    position: absolute;
    right: -5%;
    width: 15vw;
    height: 15vw;
    object-fit: contain;
  }
  .w_p {
    position: absolute;
    left: 25%;
    width: 16vw;
    height: 16vw;
    object-fit: contain;
  }
}

.w_price {
  width: 100%;
  height: 80vw;
  z-index: 1;
  position: relative;
  @include g.tab {
    height: 85vh;
  }
  @include g.sp {
    height: 66vh;
  }
  .w_price_title {
    text-align: center;
    width: 100%;
    height: 33vw;
    background-color: #f0f0f0;
    @include g.sp {
      height: 13vh;
    }
    @include g.sp {
      height: 14vh;
    }
    img {
      width: 10vw;
      height: 10vw;
      object-fit: contain;
      margin-top: 2vw;
      @include g.tab {
        width: 17vw;
        height: 20vw;
      }
      @include g.sp {
        width: 22vw;
        height: 20vw;
      }
    }
  }
  .w_price_wrapper {
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 50vw;
    padding: 1%;
    padding-top: 2%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    @include g.tab {
      top: 18%;
      width: 88%;
    }
    @include g.sp {
      top: 19%;
    }
    .box {
      width: 31%;
      height: 50vw;
    }
    .plan {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .back {
    position: absolute;
    left: 0;
    top: 50%;
  }
  .w_contact_wrapper {
    width: 100%;
    height: 53vw;
    position: relative;
    .pcs {
      position: absolute;
      right: 10%;
      bottom: 0;
      width: 36vw;
      height: 22vw;
      object-fit: contain;
      @include g.tab {
        bottom: -28vh;
      }
      @include g.sp {
        display: none;
      }
    }
  }
}

.w_contact {
  display: flex;
  position: relative;
  z-index: 10;
  color: #050037;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  height: 25vw;
  .w_contact_text {
    width: 58%;
    margin: 0 auto;
    margin-top: 13.5vw;
    @include g.tab {
      width: 83%;
    }
    @include g.sp {
      margin-top: 0;
    }
  }
  .w_title {
    font-size: 1.5vw;
    margin: 0.4vw 0;
  }
  .w_sub_title {
    font-size: 1vw;
    margin: 0.4vw 0;
  }
  .w_long {
    position: absolute;
    z-index: -1;
    width: 82vw;
    height: 33vw;
    @include g.sp {
      top: -38%;
    }
  }
  .long {
    position: absolute;
    width: 84vw;
    height: 33vw;
    object-fit: contain;
    left: -2%;
    z-index: -2;
    @include g.sp {
      height: 27vw;
    }
  }
  .contact_btn {
    position: absolute;
    width: 16vw;
    height: 3vw;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    @include g.tab {
      width: 20vw;
      height: 5.3vw;
    }
    @include g.sp {
    }
    .w_c {
      width: 16vw;
      height: 3.3vw;
      border-radius: 1vh;
      background-color: white;
      border: 3px solid #00114c;
      color: #050037;
      font-weight: bold;
      margin-top: 7vw;
      margin-left: 0vw;
      @include g.tab {
        width: 20vw;
        height: 5.3vw;
      }
      @include g.sp {
        width: 110px;
        height: 31px;
      }
    }
    .alow {
      position: relative;
      right: -3vw;
      @include g.tab {
        display: none;
      }
      @include g.sp {
      }
    }
  }
}
