@use "../global";
@use "reset";
.container {
  width: 100%;
  height: 100%;
}
.w_main {
  width: 100%;
  height: 75vw;
  .w_main_top {
    background-color: #f0f0f0;
    width: 100%;
    height: 30vw;
    display: flex;
    position: relative;

    .penguin {
      position: absolute;
      bottom: -30%;
      left: 5%;
      // margin-top: -10vw;
      // margin-left: 5vw;
      height: 20vw;
      width: 18vw;
      object-fit: contain;
    }
    .right {
      width: 35vw;
      height: 20vw;
      object-fit: contain;
      margin: 0 auto;
    }
  }

  h1 {
    font-size: 2vw;
    color: #050037;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 4vw;
    margin-left: 9vw;
  }
  .w_main_under {
    text-align: center;
    position: relative;
    height: 33vw;
    width: 100%;
    .policy {
      width: 30vw;
      height: 20vw;
      object-fit: contain;
    }
    h2 {
      margin-top: 3vw;
      color: #050037;
      font-family: fot-tsukuardgothic-std, sans-serif;
      font-style: normal;
      font-weight: 700;
    }
    .right_back {
      position: absolute;
      right: -5%;
      top: 50%;
      width: 14vw;
      height: 14vw;

      object-fit: contain;
    }
  }
  .nami {
    width: 100%;
    height: 10vw;
    object-fit: contain;
  }
}
.w_works {
  width: 100%;
  height: 73vw;
  position: relative;

  .back {
    position: absolute;
    left: -1%;
  }
  .w_works_title {
    text-align: center;
    .title {
      width: 13vw;
      height: 13vw;
      object-fit: contain;
    }
  }

  .ex_wrapper {
    display: flex;
    width: 60vw;
    height: 36vw;
    margin: 0 auto;
    justify-content: space-around;

    /* 横並びに表示する */
    flex-wrap: wrap;
    .img {
      margin: 0 auto;
      display: block;
      width: 20vw;
      height: 18vw;
      object-fit: contain;
    }
    .w_works_ex {
      text-align: center;
      width: 30%;
      height: 18vw;
    }
  }
  .more_btn {
    text-align: center;
  }
  .right_back {
    position: absolute;
    right: -5%;
    width: 15vw;
    height: 15vw;
    object-fit: contain;
  }
  .w_p {
    position: absolute;
    left: 25%;
    width: 13vw;
    height: 15vw;
    object-fit: contain;
  }
}

.w_price {
  width: 100%;
  height: 80vw;
  z-index: 1;
  position: relative;
  .w_price_title {
    text-align: center;
    width: 100%;
    height: 22vw;
    background-color: #f0f0f0;
    img {
      width: 8vw;
      height: 8vw;
      object-fit: contain;
      margin-top: 2vw;
    }
  }
  .w_price_wrapper {
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 50vw;
    padding: 0.5%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;

    .box {
      width: 33%;
      height: 50vw;
    }
    .plan {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .back {
    position: absolute;
    left: 0;
    top: 50%;
  }
  .w_contact_wrapper {
    width: 100%;
    height: 60vw;
    position: relative;
    .pcs {
      position: absolute;
      right: 18%;
      bottom: 0;
    }
  }
}

.w_contact {
  display: flex;
  position: relative;
  z-index: 10;
  color: #050037;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  height: 25vw;
  .w_contact_text {
    width: 48%;
    height: 20vw;
    margin: 5vw auto;
  }
  .w_title {
    font-size: 1.5vw;
  }
  .w_sub_title {
    font-size: 1vw;
  }
  .w_long {
    position: absolute;
    z-index: -1;
  }
  .long {
    width: 75vw;
    height: 18vw;
    object-fit: contain;
    left: -10%;
  }
  .contact_btn {
    position: absolute;
    width: 10vw;
    height: 5vw;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    .w_c {
      width: 18vw;
      height: 3vw;
      top: 30%;
      left: 0;
      right: 0;
      background-color: white;
      padding: 1vw 3vw;
    }
  }
}
